body
{  
    font-size: 0.795em;
    font-family: 'Russo One', sans-serif;
    background-color: rgb(214, 214, 214);
}
.cycle-slideshow
{
    margin: -8px;
    position: fixed;
    z-index: -1;
}
img
{
    margin-top: 8px;
    height: 100vh;
    width: 100vw;
    background-position: center;
}
legend
{
    margin-left: 40px;
    position: relative;
    font-weight: bold;
    font-size: 2.2rem;
    color: #ffffff;
    text-shadow: 4px 1px 5px #4b4b4b;
}
legend::before
{
    border-radius:50%;
    border: rgb(165, 165, 165) solid 5px;
    background-color: #fff;
    height: 64px;
    width: 64px;
    top: -13px;
    left: -75px;
    position: absolute;
    content: url(img/snowboard.png);
    display: block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
fieldset
{
    z-index: 12;
    border: rgb(161, 161, 161) solid 5px;
    border-radius: 10px;
    background-color: rgba(170, 197, 248, 0.603);
    width: 26%;
    padding: 12px 60px 35px 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.hint-text
{
    color: rgb(90, 90, 90);
    margin-bottom: 15px;
    text-align: center;
}
input[type=checkbox]
{
    
    height: 0.90em;
    width: 0.90em;
    vertical-align: text-bottom;
    margin-top: 20px;
    color: rgb(153, 153, 153);
}

label a
{
    text-decoration: none;
    color: rgb(49, 49, 49);
}
a:hover{
    text-decoration: underline;
}
.checkbox-inline
{   
    margin-top: 18px;
    color: rgb(85, 85, 85);
}
input[type=text],
input[type=password]
{
	width: 100%;
	background-color: #efefef;
	color: rgb(115, 192, 255);
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	padding: 7px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #8aa3da;
	background-color: #e9f3e9;
	color: #19a3ff;
}
input[type=email]
{
    width: 100%;
	background-color: #efefef;
    color: rgb(115, 192, 255);
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	padding: 7px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
input[type=email]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #8aa3da;
	background-color: #e9f3e9;
	color: #19a3ff;
}
input[type=submit]
{
    margin-left: 12.5%;
    
    transition:  ease-in-out 0.3s;
    width: 75%;
    background-color: #4cfa35;
    font-size:20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    -webkit-transition:  ease-in-out 0.3s;
    -moz-transition:  ease-in-out 0.3s;
    -ms-transition:  ease-in-out 0.3s;
    -o-transition:  ease-in-out 0.3s;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
    transition:  ease-in-out 0.5s;
    background-color: #1eff00;
    -webkit-transition:  ease-in-out 0.5s;
    -moz-transition:  ease-in-out 0.5s;
    -ms-transition:  ease-in-out 0.5s;
    -o-transition:  ease-in-out 0.5s;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: rgb(66, 107, 140);
}

nav
{
    background-color: rgba(7, 7, 7, 0.178);
    margin: -8px;
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 10px;
}

nav ul 
{
    list-style: none;
    float: right;
    margin-right: 30px;
    padding: 0;
    display: flex;
}
nav ul li 
{
    list-style: none;
}

nav ul li a
{
    color: #ffffff;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

nav.black ul li a 
{
    color: #fff;
}

nav ul li a:focus 
{
    outline: none;
}

nav ul li a.active
{
    transition:ease-in-out 0.3s;
    background: #56fc40;
    color: #fff;
    border-radius: 6px;
}
nav ul li a.active:hover
{
    transition:ease-in-out 0.3s;
    background: #00fc00;
    color: #fff;
    border-radius: 6px;
}

